.button-container{
    margin-left: 10% auto;
    width: 500px;
    overflow-y: auto;
}

.button-container > button{
    width: 20px;
    height: 50px;
    float: left;
    margin: 2px;
    font-weight: bold;
    font-size: 17px
}