<div *ngIf="user && !user.isEmployee">
  <mat-card class="lotto-card">
    <mat-card-header>
      <mat-card-title>MAKE A GUESS!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="button-container">
        <button
          color="primary"
          *ngFor="let number of allNumbers; index as i"
          mat-raised-button
          [disabled]="numbers.length == 6 && !numbers.includes(i + 1)"
          (click)="addToTip(i + 1)"
        >
          {{ number }}
        </button>
      </div>
      <div *ngIf="error">
        <mat-error>{{ error }}</mat-error>
      </div>
      <br />
      <br />
      <div class="big">
        Your current picks: <span *ngFor="let num of numbers">{{ num }} </span>
      </div>
      <br />
      <div class="center">
        <button
          mat-raised-button
          color="primary"
          [disabled]="numbers.length !== 6"
          (click)="makeGuess()"
        >
          Make Guess
        </button><span class="small-spacer"></span>
        <button mat-raised-button color="primary" (click)="clearGuess()"><mat-icon aria-label-hidden="false" aria-label="delete_forever icon">delete_forever</mat-icon>Clear</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="!user || user.isEmployee">
  <mat-error class="big">Permission denied!</mat-error>
</div>
