.chart_area{
    background-color: rgba(245, 242, 212, 0.952);
    border: solid black 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}