/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: 'Exo');

body {
    background-color: #f4f3f3;
    margin: 0;
    app-root * {
        font-family: 'Exo', sans-serif;
    }
}
.card{
    max-width: 800px;
    min-width: 150px;
    margin: 10% auto;
    margin-bottom: 5%;
  }
.full-width{
    width: 100%;
}

.lotto-card{
    max-width: 500px;
    min-width: 150px;
    margin: 5% auto;
}

.big{
    font-size: 20px;
}

div.center {
    text-align: center;
    align-items: center;
    justify-content: center;
}

div.center > div{
    float:right;
}

.guess{
    width: 80%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.small-spacer{
    margin-left: 10px;
  }
.medium-spacer{
    text-align: 20% right;
}
.medium-spacer2{
    margin-left: 270px;
}